<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Management</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('membres') }}">Membres</a>
        <a href="{{ url_for('quotas') }}">Quotas</a>
        <!-- Afegeix enllaços per altres entitats -->
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
