{% extends "base.html" %}

{% block title %}Equipos{% endblock %}

{% block content %}
<h2>Gestión de Equipos</h2>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Categoria</th>
            <th>Esport</th>
        </tr>
    </thead>
    <tbody>
        {% for equip in equips %}
        <tr>
            <td>{{ equip.nom }}</td>
            <td>{{ equip.categoria }}</td>
            <td>{{ equip.esport }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
