<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Llista d'Equips</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script type="module" src="../static/img/team.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <h1>Llista d'Equips</h1>
            <nav>
                <ul>
                    <li><a href="./index.html" class="nav-item">Inici</a></li>
                    <li><a href="./member.html" class="nav-item">Membres</a></li>
                    <li><a href="./team.html" class="nav-item">Equips</a></li>
                    <li><a href="./competition.html" class="nav-item">Competicions</a></li>
                    <li><a href="./sport.html" class="nav-item">Esports</a></li>
                    <li><a href="./training.html" class="nav-item">Entrenaments</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Nom de l'Equip</th>
                    <th>Categoria</th>
                    <th>Esport</th>
                    <th>Veure Membres</th>
                </tr>
            </thead>
            <tbody id="team-list">
                <!-- Les dades dels equips seran carregades aquí dinàmicament -->
            </tbody>
        </table>
        <div class="pagination" id="pagination">
            <!-- Els botons de paginació seran generats aquí -->
        </div>
    </div>

    <div id="membersModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Membres de l'Equip</h2>
            <table>
                <thead>
                    <tr>
                        <th>Num Soci</th>
                        <th>Nom</th>
                        <th>Data de Naixement</th>
                        <th>Sexe</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody id="members-list">
                    <!-- Les dades dels membres seran carregades aquí dinàmicament -->
                </tbody>
            </table>
        </div>
    </div>

    <footer>
        <p>© 2024 Gestió de Clubs Esportius. Tots els drets reservats.</p>
    </footer>
</body>
</html>
